In [10]:
## Q8 EXPLAINED

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
df_cleaned = pd.read_csv('data/inu_neko_orderline_clean.csv')

In [13]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38223 entries, 0 to 38222
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   trans_id          38223 non-null  int64
 1   prod_upc          38223 non-null  int64
 2   cust_id           38223 non-null  int64
 3   trans_timestamp   38223 non-null  object
 4   trans_year        38223 non-null  int64
 5   trans_month       38223 non-null  int64
 6   trans_day         38223 non-null  int64
 7   trans_hour        38223 non-null  int64
 8   trans_quantity    38223 non-null  int64
 9   cust_age          38223 non-null  int64
 10  cust_state        38223 non-null  object
 11  prod_price        38223 non-null  float64
 12  prod_title        38223 non-null  object
 13  prod_category     38223 non-null  object
 14  prod_animal_type  38223 non-null  object
 15  total_sales       38223 non-null  float64
dtypes: float64(2), int64(9), object(5)
memory usage: 4.7+ MB

Question 8: Best Products
What are the top ten product titles by the number of sales? Display in descending order. Store in variable top_num_sales.

In [14]:
# Number of unique sales a product was ordered
df_cleaned['prod_title'].value_counts()[:3]
top_num_sales = df_cleaned['prod_title'].value_counts()[:5]
top_num_sales

Reddy Beddy       4734
Yum Fish-Dish     3086
Kitty Climber     2438
Feline Fix Mix    2412
Tuna Tasties      2276
Name: prod_title, dtype: int64

In [15]:
# Number of unique sales a product was ordered
top_num_sales = df_cleaned.groupby('prod_title')['trans_quantity'].count().nlargest(5)
top_num_sales

prod_title
Reddy Beddy       4734
Yum Fish-Dish     3086
Kitty Climber     2438
Feline Fix Mix    2412
Tuna Tasties      2276
Name: trans_quantity, dtype: int64

In [16]:
# total quantity of a product orderd
top_num_sales = df_cleaned.groupby('prod_title')['trans_quantity'].sum().nlargest(5)
top_num_sales

prod_title
Reddy Beddy       6583
Yum Fish-Dish     4298
Kitty Climber     3329
Feline Fix Mix    3262
Tuna Tasties      3102
Name: trans_quantity, dtype: int64

In [17]:
# Filters rows that include 'Reddy Beddy'
df_cleaned['prod_title'] == 'Reddy Beddy'

0        False
1        False
2        False
3        False
4        False
         ...
38218    False
38219    False
38220    False
38221    False
38222     True
Name: prod_title, Length: 38223, dtype: bool

In [18]:
# Applying the filter to get a datframe consisting only of Reddy Beddy

df_reddy_beddy = df_cleaned[df_cleaned['prod_title'] == 'Reddy Beddy']
df_reddy_beddy

,trans_id,prod_upc,cust_id,trans_timestamp,trans_year,trans_month,trans_day,trans_hour,trans_quantity,cust_age,cust_state,prod_price,prod_title,prod_category,prod_animal_type,total_sales
6,10300096,717036112695,1001018,43:40.4,2021,1,1,1,1,26,Pennsylvania,60.99,Reddy Beddy,bedding,dog,60.99
7,10300103,242313721729,1001025,05:32.2,2021,1,1,1,1,24,New Jersey,65.99,Reddy Beddy,bedding,dog,65.99
12,10300098,242313721729,1001020,21:14.5,2021,1,1,1,2,28,Pennsylvania,65.99,Reddy Beddy,bedding,dog,131.98
21,10300110,521244155990,1001031,13:26.3,2021,1,2,2,2,21,New York,54.95,Reddy Beddy,bedding,dog,109.90
33,10300112,717036112695,1001033,00:24.5,2021,1,2,2,1,37,Pennsylvania,60.99,Reddy Beddy,bedding,dog,60.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38173,10328075,521244155990,1022224,17:20.9,2021,6,30,30,1,32,Nevada,54.95,Reddy Beddy,bedding,dog,54.95
38178,10327882,717036112695,1022112,21:09.0,2021,6,30,30,1,27,New York,60.99,Reddy Beddy,bedding,dog,60.99
38188,10328041,242313721729,1015533,37:47.2,2021,6,30,30,1,23,New York,65.99,Reddy Beddy,bedding,dog,65.99
38196,10327841,242313721729,1022083,56:25.7,2021,6,30,30,1,26,Texas,65.99,Reddy Beddy,bedding,dog,65.99
38222,10328109,717036112695,1011924,30:52.2,2021,6,30,30,1,24,Pennsylvania,60.99,Reddy Beddy,bedding,dog,60.99

In [19]:
# grouping by number of units of Reddy Beddy (1 - 6) included in an order
df_reddy_beddy.groupby('trans_quantity')['prod_title'].count()

trans_quantity
1    3415
2     900
3     328
4      73
5      16
6       2
Name: prod_title, dtype: int64

In [ ]:
df_cleaned